.container {
    align-items: flex-end;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.container button {
    color: white;
    cursor: pointer;
    background-color: #8a2b06;
    border-radius: 15px;
    border-width: 0;
    font-size: medium;
    font-weight: 600;
    padding: 0.3rem 1.3rem;
    margin-top: 0.3rem;
}