.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
    border-bottom: 1px solid #8a2b06;
}

.container h3 {
    margin:0 ;
    padding: 0;
}

.container .price {
    font-size: small;
    color: #8a2b06;
    font-weight: 600;
    margin: 0.2rem 0;
}